body {
    background-color: #4d94ff;
    background: linear-gradient(#0073e6 30%, #4d94ff 0%) fixed;
}
h1{
 font-size: 54px;
}
p{
	font-size: 25px;
}

form{
    text-align: center;
    padding-top: 50px;
}
.describe{
    width: 200px;
    height: 100px;
}
img{
	style:block;
	margin-right: 100px;
	width: 150px;
	height: 200px;
}
.top{
	display: flex;
	justify-content: space-between;
}
